@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-image: linear-gradient(#D980FA, #fff);
    background-repeat: no-repeat;
    background-size: cover;

    }
body h1{
    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    animation: big 3s ease-in-out;
}
body h3{
    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    animation: big-h3 3s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.img{
    margin-top: 5%;
    display: inline-flex;
    width: 100%;
    height: 100 vh;
}

@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes big{
    from{
        font-size: 14px;
    }
    to{
        font-size: 2em;
    }
}

@keyframes big-h3{
    from{
        font-size: 10px;
    }
    to{
        font-size: 1.17em;
    }
}

.pic{
    height: 10%;
    width: 10%;
    align-self: center;
    margin: 2vh 0 0 0;
    animation: fade-in 3s ease;
}
.pic1{
    height: 13%;
    width: 13%;
    align-self: center;
    margin: 2vh 0 0 0;
    animation: fade-in 3s ease;
}
.person{
    height: 30%;
    width: 30%;
    margin: 2vh 0 0 0;
    transform: translateX(20vh);
    animation: fade 3s ease;
}

.olympics{
    height: 20%;
    width: 20%;
    transform: translateY(10vh) translateX(-10vh);
    animation: fade 3s ease;
}

.app{
    display: inline-flex;
    justify-content: space-evenly;
    animation: fade 3s ease;
}
.quizCard{
    width: 80vh;
    height: 50%;
    padding: 2%;
    /* transform: translateX(-10vh); */
    align-items: center;
    text-align: center;
}
.celeb{
    width: 40%;
    height: 40%;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .answer-section{
      display: flex;
  }

  .option{
      border: 1px;
  }
  .foot{
      
    position: absolute;
      bottom: 0%;
      text-align: center;
      width: 100%;
  }